﻿@using Newtonsoft.Json
@using TCRB.Model
@{
    ViewBag.Title = "Index";
    Layout = null;
}


    <div id="frmLegal" class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Legalinfo => Index</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <!-- Horizontal Form -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Search Form</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="form-group row">
                                <span class="col-form-label">Mail Subject: </span>
                                <div class="col-md-2">
                                    <input type="text" v-model="dataMail_temp.Mail_Subject" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control" v-model="dataMail_temp.Mail_Type">
                                            <option :value="null">-- Please Select --</option>
                                            <option v-for="(item, index) in listMailType" :key="index" v-bind:value="item.Value">
                                                {{ item.Text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-info" @@click="SearchData"><i class="fa fa-search"></i> Search</button>
                                    <button type="button" class="btn btn-default" @@click="ClearData"><i class="fa fa-sync-alt"></i> Clear</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <button type="button" class="btn btn-success" v-on:click="addDataModal();"><i class="fa fa-plus"></i> Add</button>
                            </div>
                            <div class="row" style="margin-bottom:1%;">
                                <div class="container col-md-12 text-center">
                                    <table id="gvMail" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Type</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>CC1</th>
                                                <th>CC2</th>
                                                <th>Subject</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->

                    </div>
                    <!-- /.card -->
                    
                </div>
            </div>
        </div>

        <!-- Modal v1 -->
        <v1-component ref="v1">
        </v1-component>

    </div>


@Html.Partial("~/Views/LegalComponent/v1.cshtml")


<script type="text/javascript">
    var app = new Vue({
        el: '#frmLegal',
        data: function () {
            return {
                dataMail_temp: {},
                modelMail_create:  @Html.Raw(JsonConvert.SerializeObject(new msMailConfig { Mail_SMTP = "tcrbwebmail", Mail_Body = "<p><br></p>" })),
                listMailType: {},
            }
        },
        methods: {
            initial: function () {
                let self = this;

                self.dataMail_temp = _.cloneDeep(self.modelMail_create);

                 tableMail = $("#gvMail").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 20,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/TCRB/MailSetup/InquiryData",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: self.dataMail_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "Mail_Type_Desc" },
                        { data: "Mail_From" },
                        { data: "Mail_To" },
                        { data: "Mail_CC1" },
                        { data: "Mail_CC2" },
                        { data: "Mail_Subject" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" style="color: white;"><i class="fa fa-edit"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" style="color: white;"><i class="fa fa-trash"></i></a>';
                            }
                        }
                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableMail.fnGetData($(this).parents('tr')[0]);
                    //self.EditData(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableMail.fnGetData($(this).parents('tr')[0]);
                    //self.DeleteData(dataRow);
                });
            },
            addDataModal: function () {
                let self = this;
                debugger;
                let _v1 = this.$refs.v1;

                _v1.modalTitle = "Add ข้อมูลสืบทรัพย์";
                _v1.errors = [];

                $("#v1Modal").modal('show');

            },
            ListMailTypeData() {
                let self = this;

                _Ajax("/TCRB/MailSetup/ListMailType",
                    {}, null, function (res) {
                        self.listMailType = res;
                    });
            },
            SearchData() {
                let self = this;

                tableMail.fnDraw();
            },
            ClearData() {
                let self = this;

                 self.dataMail_temp = _.cloneDeep(self.modelMail_create);
            },

        },
        mounted() {
            let self = this;

            self.initial();
            self.ListMailTypeData();
        },
    });
</script>


