﻿@using Newtonsoft.Json
@using TCRB.Model

<template id="maillist-template">
    <div class="modal fade bd-example-modal-lg" id="frmMl" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="close" v-on:click="FromModalClose('frmMl');" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Name</span>
                        </div>
                        <div class="col-md-4 text-right">
                            <input type="text" class="form-control" v-model="strName" />
                        </div>
                        <div class="col-md-4">
                            <div class="tim-typo mt-4-5">
                                <button type="button" class="btn btn-primary" @@click="SearchData"><i class="fa fa-search"></i>&nbsp;Search</button>
                                <button type="button" class="mb-sm btn btn-outline-secondary" @@click="ClearData"><i class="fa fa-sync-alt"></i>&nbsp;Clear</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail selected:</span>
                        </div>
                        <div class="col-md-8 text-left">
                            {{selected}}
                        </div>
                    </div>
                    <br />
                    @*<div class="col-form-label">id selected: {{selected}}</div>*@
                    <div class="form-group row">
                        <table id="gvSearch" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                    <th>CustomerKey</th>
                                    <th>FirstName</th>
                                    <th>EmailAddress</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @@click="AddMailtoModel"><i class="nav-icon far fa-envelope"></i>&nbsp;Add Mail</button>
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
    var tableSearch;
    var maillistComponent = Vue.component('maillist-component', {
        props: {
            model: {
                required: true,
            }
        },
        template: '#maillist-template',
        data: function () {
            return {
                modalTitle: '',
                strName: '',
                selected: [],
                modelMail: '',
                listitem: {
                    CustomerKey: '',
                    FirstName: '',
                    EmailAddress: '',
                }
            }
        },
        mounted() {
            let self = this;
            console.log(self.model);
            self.InitialData();
        },
        methods: {
            FromModalClose: function (frm) {
                let self = this;
                
                //Uncheck All Checkbox in Data table.js
                $('#gvSearch input[type="checkbox"]').prop('checked', false);
                $('#' + frm).modal('hide');
            },
            SearchData() {
                let self = this;

                tableSearch.fnDraw();
            },
            ClearData() {
                let self = this;

                self.strName = '';
            },
            InitialData() {
                let self = this;

                //Call Data Table
                tableSearch = $("#gvSearch").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/TCRB/MailSetup/InquiryDataListEmployee",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, name: self.strName
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            debugger
                            self.listitem = d.responseJSON.data;
                            console.log(self.listitem);
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, full, meta) {
                                return '<input type="checkbox" name="id[]" value="'
                                    + $('<div/>').text(data).html() + '">';
                            },
                            targets: 'no-sort',
                            orderable: false,
                        },
                        { data: "CustomerKey" },
                        { data: "FirstName" },
                        { data: "EmailAddress" }
                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#example-select-all', 'tr', function () {
                    debugger
                    var rows = tableSearch.fnGetData($(this).parents('tr')[0]);
                    $('input[type="checkbox"]', rows).prop('checked', this.checked);

                }).on('change', 'input[type="checkbox"]', 'tbody', function () {
                    debugger
                    var el = $('#example-select-all').get(0);
                    var rows = tableSearch.fnGetData($(this).parents('tr')[0]);
                    // If "Select all"
                    if (isNull(rows) && el.checked) {
                        self.selected = [];
                        let items = self.listitem;
                        for (let i in items) {
                            self.selected.push(items[i].EmailAddress);
                        }

                    }
                    else if (isNull(rows) && el.checked == false) {
                        debugger
                        let items = self.listitem;
                        for (let i in items) {
                            self.selected.splice(items[i].EmailAddress);
                        }
                    }
                    else {
                        debugger

                        if (this.checked) {
                            if (!isNull(rows)) {
                                self.selected.push(rows.EmailAddress);
                            }
                        }
                        else {
                            self.selected.splice(self.selected.indexOf(rows.EmailAddress), 1);
                        }
                    }


                });
            },
            AddMailtoModel() {
                let self = this;
                debugger
                switch (self.modelMail) {
                    case 'Mail_CC1': {
                         self.model.Mail_CC1 = self.selected.toString();
                        $("#frmMl").modal('hide');
                        break;
                    }
                    case 'Mail_CC2': {
                        self.model.Mail_CC2 = self.selected.toString();
                        $("#frmMl").modal('hide');
                        break;
                    }
                    default: {
                        self.model.Mail_To = self.selected.toString();
                        $("#frmMl").modal('hide');
                        break;
                    }
                }

                 //Uncheck All Checkbox in Data table.js
                $('#gvSearch input[type="checkbox"]').prop('checked', false);
            },


        },
    });
</script>
