﻿@using Newtonsoft.Json
@using TCRB.Model

<template id="mailfrom-template">
    <div class="modal fade bd-example-modal-lg" id="frmMa" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="close" v-on:click="FromModalClose('frmMa');" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail Type <span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <select class="form-control" v-model="dataMail_temp.Mail_Type">
                                    <option :value="null">-- Please Select --</option>
                                    <option v-for="(item, index) in listMailType" :key="index" v-bind:value="item.Value">
                                        {{ item.Text }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail From <span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <input id="mTo" type="text" class="form-control" v-model="dataMail_temp.Mail_From" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail To <span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <input id="mTo" type="text" class="form-control" v-model="dataMail_temp.Mail_To" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group bmd-form-group">
                                <button type="button" class="btn btn-primary" @@click="AddModelListEmployee('Mail_To')"><i class="nav-icon far fa-envelope"></i>&nbsp;Add Mail</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail CC1</span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <input id="mTo" type="text" class="form-control" v-model="dataMail_temp.Mail_CC1" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group bmd-form-group">
                                <button type="button" class="btn btn-primary" @@click="AddModelListEmployee('Mail_CC1')"><i class="nav-icon far fa-envelope"></i>&nbsp;Add Mail</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail CC2</span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <input id="mTo" type="text" class="form-control" v-model="dataMail_temp.Mail_CC2" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group bmd-form-group">
                                <button type="button" class="btn btn-primary" @@click="AddModelListEmployee('Mail_CC2')"><i class="nav-icon far fa-envelope"></i>&nbsp;Add Mail</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail Subject <span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <input id="mTo" type="text" class="form-control" v-model="dataMail_temp.Mail_Subject" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <span class="col-form-label">Mail Body <span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-8">
                            <summernote-component name="editor"
                                                  :model="dataMail_temp.Mail_Body"
                                                  v-on:change="value => { dataMail_temp.Mail_Body = value }">
                            </summernote-component>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" @@click="SubmitDataModal"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-fill btn-default" @@click="ClearDataModal"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                </div>
            </div>
        </div>
        <!-- Modal Mail List -->
        <maillist-component ref="ml"  :model="dataMail_temp">
        </maillist-component>
    </div>
</template>

@Html.Partial("~/Views/MailSetup/_ModalList.cshtml")
@Html.Partial("~/Views/MailSetup/_SommernoteComponents.cshtml")

<script>
    var mailfromComponent = Vue.component('mailfrom-component', {
        template: '#mailfrom-template',
        data: function () {
            return {
                modalTitle: '',
                status: '',
                listMailType: {},
                errors: [],
                dataMail_temp: {},
                modelMail_create:  @Html.Raw(JsonConvert.SerializeObject(new msMailConfig { Mail_From= "no-reply@tcrbank.com", Mail_SMTP = "tcrbwebmail", Mail_Body = "<p><br></p>" })),
            }
        },
        mounted() {
            let self = this;

            self.InitialData();
        },
        methods: {
            FromModalClose: function (frm) {
                let self = this;

                $('#' + frm).modal('hide');

            },
            ListMailTypeData() {
                let self = this;

                _Ajax("/TCRB/MailSetup/ListMailType",
                    {}, null, function (res) {
                        self.listMailType = res;
                    });
            },
            InitialData() {
                let self = this;

                self.ListMailTypeData();
            },
            ClearDataModal() {
                let self = this;

                self.dataMail_temp = _.cloneDeep(self.modelMail_create);
            },
            ValidateData() {
                let self = this;

                self.errors = [];

                if (isNull(self.dataMail_temp.Mail_Type)) {
                    self.errors.push("Mail Type is required.");
                }

                if (isNull(self.dataMail_temp.Mail_From)) {
                    self.errors.push("Mail From is required.");
                }
                if (isNull(self.dataMail_temp.Mail_To)) {
                    self.errors.push("Mail To is required.");
                }
                if (isNull(self.dataMail_temp.Mail_Subject)) {
                    self.errors.push("Mail Subject is required.");
                }
                if (self.dataMail_temp.Mail_Body == "<p><br></p>") {
                    self.errors.push("Mail Body is required.");
                }

                if (!self.errors.length) {
                    return true
                }
                else {
                    return false
                }

            },
            SubmitDataModal() {
                let self = this;

                if (self.ValidateData()) {
                    debugger
                    _Ajax("/TCRB/MailSetup/SaveChangeData",
                        {
                            model: self.dataMail_temp,
                            status: self.status
                        }, null, function (res) {
                            toastr.success(res);
                            tableMail.fnDraw();
                            $('#frmMa').modal('hide');
                        });
                }
                else {
                    let tabError = self.errors.join('</br> ');
                    toastr.error(tabError);
                }
            },
            AddModelListEmployee(section) {
                let self = this;
                let _ml = this.$refs.ml;
                 _ml.selected = [];
                _ml.modalTitle = "List Employee Data";
                switch (section) {
                    case 'Mail_CC1': {
                        _ml.modelMail = 'Mail_CC1';
                        $("#frmMl").modal('show');
                        break;
                    }
                    case 'Mail_CC2': {
                        _ml.modelMail = 'Mail_CC2';
                        $("#frmMl").modal('show');
                        break;
                    }
                    default: {
                        _ml.modelMail = 'Mail_To';
                        $("#frmMl").modal('show');
                        break;
                    }
                }
            }

        },
    });
</script>



