﻿<template id="summernote-template">
    <textarea class="textarea" placeholder="Place some text here"></textarea>
</template>

<script>
    var summernoteComponent = Vue.component('summernote-component', {
        props: {
            model: {
                required: true,
            },

            name: {
                type: String,
                required: true,
            },

            height: {
                type: String,
                default: '150'
            }
        },
        template: '#summernote-template',
        mounted: function () {
            let config = {
                height: this.height
            };

            let vm = this;

            config.callbacks = {

                onInit: function () {
                    $(vm.$el).summernote("code", vm.model);
                },

                //onChange: function () {
                //    vm.$emit('change', $(vm.$el).summernote('code'));
                //},

                onBlur: function () {
                    vm.$emit('change', $(vm.$el).summernote('code'));
                }
            };

            $(this.$el).summernote(config);
            $('.textarea').summernote();
            //$('form').replaceWith(function () {
            //    return $("<div />").append($(this).contents());
            //});
        },
        watch: {

            model: function (value) {
                let self = this;

                if (!isNull(value)) {
                    $(self.$el).summernote("code", value);
                }

            },

        },

        destroy() {
            this.$destroy();
        }
    });
</script>


