﻿<template id="test-v1">
    <div class="modal fade" id="v1Modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-uppercase text-bold">id selected: {{selected}}</div>
                    <div class="form-group row">
                        <table id="gvSearch" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                                    <th>CustomerKey</th>
                                    <th>FirstName</th>
                                    <th>EmailAddress</th>    
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <p>
                        {{ content }}
                    </p>
                </div>
                <div class="modal-footer justify-content-between">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      
        
    </div>

</template>


<script>
    var tableSearch
    var v1Component = Vue.component('v1-component', {
        template: '#test-v1',
        mounted() {
            let self = this;

            self.InqueryData();
        },
        data: function () {
            return {
                modalTitle: '',
                errors: [],
                modalTitle2: '',
                errors2: [],
                content: '',
                FirstName: '',
                selected: [],
                listitem: {
                    CustomerKey: '',
                    FirstName: '',
                    EmailAddress:'',
                }
            }
        },
        methods: {
            InqueryData() {
                let self = this;

                //Call Data Table
                tableSearch = $("#gvSearch").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/TCRB/LegalInfo/InquiryData",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, FirstName: self.FirstName
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            debugger
                            self.listitem = d.responseJSON.data;
                            console.log(self.listitem);
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, full, meta) {
                                return '<input type="checkbox" name="id[]" value="'
                                    + $('<div/>').text(data).html() + '">';
                            },
                            targets: 'no-sort',
                            orderable: false,
                        },
                        { data: "CustomerKey" },
                        { data: "FirstName" },
                        { data: "EmailAddress" }
                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#example-select-all', 'tr', function () {
                    debugger
                    var rows = tableSearch.fnGetData($(this).parents('tr')[0]);
                    $('input[type="checkbox"]', rows).prop('checked', this.checked);

                }).on('change', 'input[type="checkbox"]', 'tbody', function () {
                    debugger
                    var el = $('#example-select-all').get(0);
                    var rows = tableSearch.fnGetData($(this).parents('tr')[0]);
                    // If "Select all" 
                    if (isNull(rows) && el.checked) {
                       self.selected = [];
                        let items = self.listitem;
                        for (let i in items) {
                            self.selected.push(items[i].EmailAddress);
                        }
                        
                    }
                    else if (isNull(rows) && el.checked == false) {
                        debugger
                        let items = self.listitem;
                        for (let i in items) {
                            self.selected.splice(items[i].EmailAddress);
                        }
                    }
                    else {
                        debugger
                        
                        if (this.checked) {
                            if (!isNull(rows)) {
                                self.selected.push(rows.EmailAddress);
                            }
                        }
                        else {
                            self.selected.splice(self.selected.indexOf(rows.EmailAddress), 1);
                        }
                    }


                });
            }
        },

    });
</script>
