﻿<template id="test-v2">
    <div class="modal fade" id="v2Modalx">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" v-on:click="CloseModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p v-if="errors.length">
                        <b class="text-danger">Please correct the following error(s):</b>
                        <ul>
                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                        </ul>
                    </p>
                    <div class="form-group row">
                        <button type="button" class="btn btn-primary" v-on:click=""><i class="fa fa-floppy-o"></i> Save</button>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>


<script>

    var v2Component = Vue.component('v2-component', {
        template: '#test-v2',
        mounted() {
            let self = this;
        },
        data: function () {
            return {
                modalTitle: '',
                errors: [],
            }
        },
        methods: {
            CloseModal: function () {
                let self = this;
         
                $("#v2Modalx").modal('hide');
            }
        },

    });
</script>

